<!DOCTYPE html>
<html>
<head>
	<title>感じ Flashcards</title>

	<!--Meta tags-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="./app.js"></script>
</head>
<body ng-app="kanji-flash">
	<div ng-controller="mainCtrl">
		<div class="container-fluid">
			<h1>{{question}}</h1>
		</div><br>
		<div class="container-fluid">
			<input type="text" ng-model="kunAnswer" ng-change="checkKunAnswer()"></input> {{kunAnswer}}
			<input type="text" ng-model="onAnswer" ng-change="checkOnAnswer()"></input> {{onAnswer}}
		</div><br>
		<div class="container-fluid" ng-if="nextButton">
			<button ng-click="getNextQuestion()">Next</button>
		</div>
	</div>
</body>
</html>