<!DOCTYPE html>
<html>
<head>
	<title>漢字 Flashcards</title>

	<!--Meta tags-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body ng-app="kanji-flash">
	<div ng-controller="mainCtrl" class="container-fluid">
		<div class="row align-items-center justify-content-center bg-info text-white">
			<div class="col text-center">
				<h1 class="display-1">{{question}}</h1>
				<button type="button" class="btn btn-outline-light" ng-click="showMeaning=true">Show Kunyomi Readings</button>
				<p ng-if="showMeaning">{{meaning}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg"></div>
		</div>

		<div class="row align-items-center justify-content-center">
			<div class="col-lg text-center">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Kunyomi Reading</span>
					<input type="text" class="form-control" aria-label="Kunyomi Reading" aria-describedby="basic-addon1" ng-model="kunAnswer" ng-change="checkKunAnswer()" ng-class="kunStyle">
				</div>
			</div>
			<div class="col-lg text-center">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Onyomi Reading</span>
					<input type="text" class="form-control" aria-label="Onyomi Reading" aria-describedby="basic-addon1" ng-model="onAnswer" ng-change="checkOnAnswer()" ng-class="onStyle">
				</div>
			</div>
		</div>

		<div class="row align-items-center justify-content-center">
			<div class="col-lg text-center">
				<button type="button" class="btn btn-outline-danger" ng-click="showKunyomi=true">Show Kunyomi Readings</button>
			</div>
			<div class="col-lg text-center">
				<button type="button" class="btn btn-outline-danger" ng-click="showOnyomi=true">Show Onyomi Readings</button>
			</div>
		</div>

		<div class="row align-items-center justify-content-center">
			<div class="col-lg text-center" ng-if="showKunyomi">
				{{kunReading}}
			</div>
			<div class="col-lg text-center" ng-if="showOnyomi">
				{{onReading}}
			</div>
		</div>

		<div class="row justify-content-center" ng-if="nextButton">
			<button class="btn btn-success btn-block" ng-click="getNextQuestion()">Next</button>
		</div>
	</div>
</body>
</html>